/** @format */

html,
body,
.root {
  background-color: #3e8ed0;
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h3 {
  color: purple !important;
}

.progress-container {
  margin: 10px;
  padding: 5px;
}

.progress-discription {
  position: relative;
  font-size: 14px;
  margin-left: -20%;
  font-weight: bold;
  color: white;
  text-align: center;
}

#main-container {
  border-radius: 100px;
  max-width: 1200px !important;
}

.roboto {
  font-family: "Roboto", sans-serif;
  color: purple !important;
}

.roboto-plain {
  font-family: "Roboto", sans-serif;
}

.squarepeg {
  font-family: "Square Peg";
  color: rgb(236, 236, 236) !important;
}

#x {
  position: absolute;
  top: 20px;
  right: 15px;
  color: purple;
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

@keyframes fadeIn {
  0% {
    border-radius: 30px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}
