html, body, .root {
    background-color: #3e8ed0;
    height: 100%
}

@media only screen and (min-width: 1200px) {
    .navbar {
      padding-left: 20px;
      padding-right: 20px;
    }
  }


#main-container{
    border-radius: 100px;
    max-width: 1200px !important;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    color: purple !important;
}

.roboto-plain {
    font-family: 'Roboto', sans-serif;
}

.squarepeg {
    font-family: 'Square Peg';
    color: rgb(236, 236, 236) !important;

}

#x {
    position: absolute;
    top: 20px;
    right: 15px;
    color: purple;
    cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }